nbgitpuller
pybids
neuropythy>=0.12.15
nilearn
line_profiler
memory_profiler
black
ipympl
pyfftw
git-credential-helpers
cloudpathlib[s3,gs,azure]
colorspacious
requests
platformdirs
git+https://github.com/kjamison/krakencoder.git@864f5f9
git+https://github.com/rmarkello/abagen.git@dc4a007
ieegprep
